<div class="lg:flex lg:flex-row sm:flex-col">
    <div class="w-full relative md:flex md:justify-center">
        <img class="absolute size-[100px] lg:bottom-[5px] lg:left-[345px] z-10 md:left-[445px] md:bottom-[20px] lg:flex sm:hidden xs-hidden" src="./work-ilust.png" alt="work-emoji">
        <img class="w-[400px] h-[420px] object-cover rounded-lg md:align-center sm:size-[400px] sm:mx-auto xs-mx-auto" src="./aboutme-left.png" alt="">
        <span class="">
            <style>
                @keyframes slow-spin {
                  0% { transform: rotate(0deg); }
                  100% { transform: rotate(360deg); }
                }
                .slow-spin {
                  animation: slow-spin 10s linear infinite; 
                }
              </style>
            <img class="bg-white size-[180px] rounded-full absolute lg:left-[300px] lg:top-[260px] animate-spin slow-spin inline-block md:left-[400px] md:top-[260px] lg:flex sm:hidden xs-hidden" src="./spintext-aboutme.png" alt="">
        </span>
    </div>
    <div class="w-full sm:w-[85%] ml-[60px] lg:mt-[0px] md:mt-10 xs-w">
        <h3 class="text-l font-bold text-yellow-400 mb-2 lg:text-start sm:text-center lg:mt-6 sm:mt-10 xs-center xs-mt-2">ABOUT ME</h3>
        <h1 class="text-2xl font-bold gap-x-3 text-black/80 dark:text-white mb-4">Front-End Developer based in Buenos Aires, Argentina📍</h1>
        <p>Hi there! My name is Joaquin Herrera, and I'm a Frontend Developer. Previously, I ventured into the world of administration and accounting, but soon realized that designing and developing software was my true passion. <br><br>  Now, as a Frontend Developer, I bring a unique perspective to my work, combining my expertise in administration with my creativity in crafting exceptional user experiences.</p>
    </div>
</div>