<header class="flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto">
    <h1 class="text-2xl font-semibold ">Joaquin.dev</h1>
    
    <nav class="flex flex-row gap-x-40 opacity-90">
        <a href="#home">Home</a>
        <a href="#experience">Experience</a>
        <a href="#about">About</a>
        <a href="#projects">Projects</a>
        <a href="#contact">Contact</a>
    </nav>
</header>